/* ------------------------------------------------------------------------
	Content Redefinition
------------------------------------------------------------------------- */

html { 
    margin:  0; 
    border:  0; 
    padding: 0;
    height:  100%;
} 

body {
	font-family: Verdana, Arial, Sans-Serif;
    font-size:   0.6em;
	background:  #728187 url(../images/bodyBackground.jpg) fixed top left repeat-x;
	color:       #FFFFFF;
	text-align:  left;
    height:      100%;
}

a { color: #9db2b9; }
a:hover { text-decoration: none; }

h1 { 
    font-size: 2.0em; 
}

h1 a {
    color: #FFFFFF;
    text-decoration: none;
}
	
h2 {
	font-size:     1.4em;
	border-bottom: 1px #9db2b9 solid;
	padding:       0 0 5px 0;
}
	
h3 {     
    font-size:     1.4em;
    padding:       0 0 5px 0;
}
	
/* ------------------------------------------------------------------------
	Layout
------------------------------------------------------------------------- */

#content {
    padding:    0 15px 15px 15px;
	background: #000000;
	border:     2px #313739 solid;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	margin:     0 15px 0 15px;
}

#map_content {
	clear:      left; 
    padding:    0 15px 15px 15px;
	background: #000000;
	border:     2px #313739 solid;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
    height:     95%;
}

#map_canvas {
    height: 85%;
}

#map_info {
    text-align: center;
    width:      160px;
    background: #000000;
    padding:    15px  15px  15px  15px;
	margin:     0;
	border:     2px #313739 solid;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
}
	
ul.menu {
    font-size:  1.1em;
	list-style: none;
	width:      95%;
	overflow:   hidden;
	margin:     0 0 0 4px;
	padding:    10px 10px 10px 0;
}
	
ul.menu li a {
	display:         block;
	color:           #FFFFFF;
	padding:         2px;
	text-decoration: none;
}
		
ul.menu li a:hover {
    color:           #9DB2B9;
	background:      #333333;
}
		
ul.submenu {
    font-size:  1.2em;
	float:      left;
	list-style: none;
	background: #000000;
	padding:    15px 30px 15px 20px;
	margin:     0 0 10px 15px; 
	border:     2px #313739 solid;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
}

ul.submenu li {
	display: block; 
    float:   left;
	margin:  0 15px 0 0;
}

ul.submenu li a {
	display:         block;
	color:           #FFFFFF;
	padding:         2px;
	text-decoration: none;
}

ul.submenu li a:hover {
    color:           #9DB2B9;
	background:      #333333;
}

ul.galleryfolder {
    list-style: none;
    margin:     0;
    padding:    0;
}

ul.galleryfolder li {
    display:    table;
    float:      left;
    margin:     0 5px 5px 0;
    height:     184px;
    width:      160px;
    text-align: center;
}

ul.galleryfolder li a {
	display:         table-cell;
	vertical-align:  middle;
	text-align:      center;
	text-decoration: none;
    border:          1px solid #111111;
}

ul.galleryfolder li a:hover { 
    background: #333333; 
    color:      #FFFFFF; 
    border:     1px solid #FFFFFF;
}
	
ul.gallery {
	list-style: none;
    padding:    0;
    margin:     0px;
    margin-top: 2px;
}
	
ul.gallery li {
    display:    table; 
    overflow:   hidden;
	float:      left;
	height:     156px;
	width:      156px;
	text-align: center;
    border:     1px solid #111111;
}
		
ul.gallery li a {
    display:        table-cell;
    vertical-align: middle;
    width:          154px;
}

ul.gallery li a:hover {
    background: #111111;
}

.tooltip { 
    display:    none; 
    z-index:    999;
    background: transparent url(../images/black_arrow.png) no-repeat; 
    font-size:  10px; 
    height:     70px; 
    width:      160px; 
    padding:    25px; 
    color:      #FFFFFF;     
}

/* -------- Tabs ----------------- */
ul.tabs {
    list-style:    none;
    margin:        0 !important;
    padding:       0;
    height:        28px;
    border-bottom: 1px solid #666;
}

ul.tabs li {
    height:           45px;
    width:            45px;
    float:            left;
    padding:          0;
    margin:           0 !important;
    list-style-image: none !important;
}

ul.tabs li a {
    font-size:        1.3em;
    display:          block;
    text-align:       center;
    padding:          5px;
    text-decoration:  none;
    border:           2px solid #313739;  
    border-bottom:    0px;
    background-color: #444444;
    color:            #777777;
    margin-right:     2px;
    -moz-border-radius-topleft:      4px;
    -moz-border-radius-topright:     4px;
    -webkit-border-top-left-radius:  4px;
    -webkit-border-top-right-radius: 4px;
    position: relative;
    top:      1px;    
}

ul.tabs a:hover {
    background-color: #111111;
    color:            #FFFFFF;
}
    
/* selected tab */
ul.tabs a.current {
    background-color: #111111;
    border-bottom:    2px solid #313739;   
    color:            #FFFFFF; 
    cursor:           default;
    font-weight:      bold;
}

/*---------------------------------------------------
 * Videos
 * --------------------------------------------------*/
.videoverlay {
    /* initially overlay is hidden */
    display:          none;
    background-image: url(../images/transparent_overlay.png);
    color:            #FFFFFF;
    width:            640px;        
    padding:          35px;
    font-size:        11px;
}

.videoverlay .close {
    background-image: url(../images/close_overlay.png);
    position:         absolute;
    right:            5px; 
    top:              5px;
    cursor:           pointer;
    height:           35px;
    width:            35px;
}

a.player {      
    display:          block;
    height:           480px;           
}


/* ------------------------------------------------------------------------
	Miscellaneous
------------------------------------------------------------------------- */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
    display: inline-block;
    clear: both;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
