/* ------------------------------------------------------------------------
	Content Redefinition
------------------------------------------------------------------------- */

html { 
    margin:  0; 
    border:  0; 
    padding: 0;
    height:  100%;
} 

body {
	font-family: Verdana, Arial, Sans-Serif;
    font-size:   0.6em;
	background:  #728187 url(../images/bodyBackground.jpg) fixed top left repeat-x;
	color:       #FFFFFF;
	text-align:  left;
    height:      100%;
}

a { color: #9db2b9; }
a:hover { text-decoration: none; }

h1 { 
    font-size: 2.0em; 
}

h1 a {
    color: #FFFFFF;
    text-decoration: none;
}
	
h2 {
	font-size:     1.4em;
	border-bottom: 1px #9db2b9 solid;
	padding:       0 0 5px 0;
}
	
h3 {     
    font-size:     1.4em;
    padding:       0 0 5px 0;
}
	
/* ------------------------------------------------------------------------
	Layout
------------------------------------------------------------------------- */

#content {
    padding:    0 15px 15px 15px;
	background: #000000;
	border:     2px #313739 solid;
	border-radius:         10px;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	margin:     0 15px 0 15px;
}

#map_content {
	clear:      left; 
    padding:    0 15px 15px 15px;
	background: #000000;
	border:     2px #313739 solid;
	border-radius:         10px;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
    height:     95%;
}

#map_canvas {
    height: 90%;
}

#map_info {
    text-align: center;
    width:   160px;
    color:   #000000;
    padding: 0;
	margin:  0;
}
	
ul.menu {
    font-size:  1.1em;
	list-style: none;
	width:      95%;
	overflow:   hidden;
	margin:     0 0 0 4px;
	padding:    10px 10px 10px 0;
}
	
ul.menu li a {
	display:         block;
	color:           #FFFFFF;
	padding:         2px;
	text-decoration: none;
}
		
ul.menu li a:hover {
    color:           #9DB2B9;
	background:      #333333;
}
		
ul.submenu {
    font-size:  1.2em;
	float:      left;
	list-style: none;
	background: #000000;
	padding:    15px 30px 15px 20px;
	margin:     0 0 10px 15px; 
	border:     2px #313739 solid;
	border-radius:         10px;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
}

ul.submenu li {
	display: block; 
    float:   left;
	margin:  0 15px 0 0;
}

ul.submenu li a {
	display:         block;
	color:           #FFFFFF;
	padding:         2px;
	text-decoration: none;
}

ul.submenu li a:hover {
    color:           #9DB2B9;
	background:      #333333;
}

#container {
    margin: 0 auto;
}

.box {
    width:   300px;
    margin:    0px;
    padding:   0px;
    float:    left;
}

.home_caption {
    position:         absolute;
    bottom:           0px;
    left:             0px;
    display:          none;
    background-color: black;
    font-size:        25px;
    color:            white;
    text-align:       center;
    padding-bottom:   10px;
}

/* ------------------------------------------------------------------------
	Miscellaneous
------------------------------------------------------------------------- */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
    display: inline-block;
    clear: both;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
