h3.element-title {
    font-size:     75%;
    padding:        0;
    margin:         0;
}
p.element-subtitle {
    font-size: 75%;
    padding:    0;
    margin:     0;
}
.ui-li .ui-btn-inner {
    display: table-cell;
    padding: 0;
    padding-left: 90px;
    margin: 0;
    height: 80px;
    vertical-align: middle;
}
img.ui-li-thumb {
    max-width :  80px;
    max-height: 120px;
    overflow:  hidden;
    margin-top:  10px;
}
div.ui-footer h1.ui-title {
    font-size: 75%;
}
