.tooltip {
    display:    none;
    z-index:    999;
    background: transparent url(../images/black_arrow.png) no-repeat;
    font-size:  10px;
    height:     70px;
    width:      160px;
    padding:    25px;
    color:      #FFFFFF;
}
